<div class="card field">
  <div class="tabs">
    <ul>
      <li class="is-active" id="current-tab"><a (click)="showCurrentTab()">Current visiting</a></li>
      <li id="create-tab"><a (click)="showCreateTab()">Create friend</a></li>
    </ul>
  </div>
  <app-current-friend [closestFriends]="closestFriends" [current]="current" [hidden]="!showCurrentFriend"></app-current-friend>
  <app-add-friend [hidden]="!showCreate" (notifyEvent)="reload($event)"></app-add-friend>
</div>

<div *ngFor="let friend of friendsList" class="card" (click)="visitFriend(friend)">
  <div class="card-content">
    <p class="title">
      {{friend.name}} ({{friend.position.latitude}}, {{friend.position.longitude}})
    </p>
    <!-- <p class="subtitle">
      Distance to Current Postion: {{friend.distanceToCurrentPosition}}
    </p> -->
  </div>
</div>

<div *ngIf="!friendsList.length" class="card">
  <div class="card-content">
    <h1 class="title">You currently have no friends</h1>
    <img src="src\assets\images\mirage-list-is-empty.png" alt="Empty List"/>
  </div>
</div>