<div class="card field">
  <div class="tabs">
    <ul>
      <li class="is-active" id="current-tab"><a (click)="showCurrentTab()">Current visiting</a></li>
      <li id="create-tab"><a (click)="showCreateTab()">Create friend</a></li>
    </ul>
  </div>
  <app-current-friend [closestFriends]="closestFriends" [current]="current" [hidden]="!showCurrentFriend"></app-current-friend>
  <app-add-friend [hidden]="!showCreate"></app-add-friend>
</div>

<div *ngFor="let friend of friendsList" class="card" (click)="visitFriend(friend)">
  <div class="card-content">
    <p class="title">
      {{friend.name}} ({{friend.position.latitude}}, {{friend.position.longitude}})
    </p>
    <p class="subtitle">
      Distance to Current Postion: {{friend.distanceToCurrentPosition}}
    </p>
  </div>
</div>